
.search-section {
    padding: 4.5rem 1rem 0;
    min-height: calc(100vh - 3.5rem);
}

.find-title {
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: bolder;
}

.find-help {
    font-weight: 500;
}



.search-bar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

button {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 0.5rem;
}

button:focus {
    outline: none;
}



.wrap-track-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    flex: 1;
}

audio {
    display: none;
}



.all-cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    text-align: left;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 24px 2px rgba(0,0,0,0.1);
    padding: 10px;
}

.song-title {
    font-size: 1rem;
    font-weight: bold;
}


.card a {
    font-size: 0.8rem
}

.card img {
    min-width: 5rem;
}

.genre {
    display: none;
}

.play-music {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.play-music i {
    font-size: 1.5rem;
}



@media screen and (min-width: 768px) and (min-device-width: 768px) {
    .genre {
        display: block;
    }
}

@media screen and (min-width: 1024px) and (min-device-width: 1024px) {
    .all-cards {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card {
        width: 260px;
        padding: 20px;
        flex-direction: column;
    }
    input#search-input {
        width: 35%;
    }
    .search-bar-icon {
        justify-content: flex-start;
    }
    .play-music {
        margin-top: 10px;
    }
    .song-title {
        margin-top: 0.5rem;
    }
    .genre {
        flex: 1;
    }
}


